.heading{
    text-align: center;
    color: rgb(237, 4, 4);
    font-size: 30px;
    text-decoration: rgb(111, 129, 86) underline;
}

.calculator{
    border: 3px solid grey;
    width: 30%;
    display: flex;
    flex-direction: column;
    padding: 2%;
    gap:10px;
    margin-left: 30%;
}

.input{
    width: 95%;
    padding: 3%;
    border: 2px yellow solid;
    background-color: rgb(229, 189, 88);
    border-radius: 10px;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

.buttons button{
    width: 23%;
    padding: 5%;
    border-radius: 10px;
}

.button-numbers{
    border: 2px solid rgb(102, 3, 3);
    background-color:crimson;
    color: white;
    font-size: 17px;
}

.button-symbols{
    background-color: blueviolet;
    color: white;
    font-size: 17px;
}

.button-clear{
      background-color: orange;
      color: white;
     font-size: 17px;
}

.button-equal{
    background-color: green;
    color: white;
    font-size: 17px;
}

@media (max-width: 400px){
    .calculator{
        width: 100%;
    }
}