*{
    box-sizing: border-box;
}

body{
    margin: 0;
    padding: 0;
}

#topic
{
    text-align: center;
    color: darkred;
    font-family: "Oswald", sans-serif;
}

.board{

    width: 100%;
    display: flex;
    justify-content: center;
    height: 60vh;  
}

table{
    border-collapse: collapse;
    min-width: 400px;
    width: 90%;
    aspect-ratio: 1/1;;
}

td{
border: solid 2px brown;
}