
.Nav1{
    display: flex;
    position: sticky;
    top: 0;
}


#img1{
    padding-top: 20px;
    padding-left: 23px;
}

#img2{
    padding-top: 16px;
     padding-left: 25px;
}

.img3{
    padding-top: 25px;
    padding-left: 27px;
    
}

.img4{
     padding-top: 18px;
     padding-left: 27px;
}



.search-container {
    display: flex;
    align-items: center;
    width: 690px;
    height: 45px;
    border: 1px solid #cfcfcf;
    border-radius: 40px;
    overflow: hidden;
    background: white;
    margin-left: 650px;
    margin-top: 28px;
    
}

/* Hidden initially */
.left-search-icon {
    display: none;
    padding: 0 12px;
    font-size: 18px;
    color: gray;
}

.search-input {
    flex: 1;
    border: none;
    outline: none;
    font-size: 16px;
    padding: 0 12px;
}

.search-btn {
    width: 64px;
    height: 100%;
    border: none;
    border-left: 1px solid #d3d3d3;
    background: #f8f8f8;
    cursor: pointer;
    font-size: 18px;
}

/* YouTube-like focus effect */
.search-container:focus-within {
    border-color: #1c62d1;
}

/* Show icon when focused */
.search-container:focus-within .left-search-icon {
    display: flex;
    align-items: center;
}

.button2{
    display: flex;
    align-items: center;
    margin-left: 320px;
    width: 130px;
    height: 40px;
    margin-top: 25px;
    border-radius: 20px;
    font-size: 22px;
    text-align: left;
    padding-right: 7px;
}

#S{
    margin-top: 50px;
}

input{
    border: none;
    margin-left: 10px;
    width: 70px;
    height: 40px;
    font-size: 20px;
    
}
#plus
{
    padding-right: 10px;
}

.S1{
    display: flex;
    align-items: center;
    margin: 30px;
    width: 230px;
    background-color: white;
    font-size: 25px;
    height: 30px;
    border: none;
}

.SideBar{
    width: 310px;
    border-bottom: black solid 1px;
    position: sticky;
    top: 90px;
}
.img5{
    padding-right:50px;
}

.SecondDiv{
    display: flex;
    position: sticky;
    top: 80px;
}

.button{
    margin-left: 70px;
    position: sticky;
    top: 80px;
}
.Buttons{
    margin-top: 50px;
    height: 50px;
    border-radius: 15px;
    font-size: 20px;
    padding: 13px;
    margin-left: 23px;
    padding-bottom: 5px;
}

.Subscriptions{
    margin-top: 20px;
    width: 310px;
    display: flex;
}

.sub{
    width: 100%;
    padding: 5px;
    padding-left: 27px;
    font-size: 23px;
    display: flex;
    border: none;
    height: 40px;
    background-color: white;
}

.code{
    width: 40px;
    border-radius: 30px;
}

.Subscipt{
    width: 310px;
     padding-bottom: 15px;
    border-bottom: solid black 1px; 
}

.codeio{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 100px;
    font-size: 18px;
    border: none;
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
}

.take{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 80px;
    font-size: 18px;
    border: none;
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
}

.kunal{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 50px;
    font-size: 18px;
    border: none;
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
}

.feel{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
    font-size: 18px;
    border: none;
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
}

.Hareesh{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 40px;
    font-size: 18px;
    border: none;
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
}

.History{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 150px;
    font-size: 18px;
    border: none;
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
}

.Playlist{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 140px;
    font-size: 18px;
    border: none;
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
}

.Watch{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-right: 110px;
    font-size: 18px;
    border: none;
    background-color: white;
    margin-top: 20px;
    font-size: 20px;
}

.SubContainer{
    position: sticky;
    top: 270px;
}

.Container-you{
    position: sticky;
    top: 860px;
}

.button1:focus-within #Typebox {
  display: block;
}

.container{
    display: flex;
    
}

.left-sidebar{
    width: 310px;
}

.Videos{
    margin-left: 50px;
    width: 100%;
    height: 1600px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    
    gap: 20px;
    padding: 30px;
}

iframe{
    height: 300px;
}